<div class="jumbotron company-headline maya">
	<div class="maya-logo">
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary">
		<blockquote>
			At MAYA Design, my biggest projects were the development of a front-end bootstrap for
			Highmark Blue Cross Blue Shield, along with a redesign of Highmark’s Spending Accounts
			website.
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6">
		fdfdfd 
	</div>
	<div class="col-md-6">
		fdfdfd
	</div>
</div>