<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <a href="#lyft" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="Lyft" >
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#jawbone" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="Jawbone" >
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#circle" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="Circle - The Local Social Network" >
	    </a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-4">
	    <a href="#maya" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="MAYA Design" >
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#other" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="Other Projects" >
	    </a>
	  </div>
	  <div class="col-md-4">
	    <a href="#photography" class="thumbnail">
	      <img data-src="holder.js/100%x100" alt="Photography" >
	    </a>
	  </div>
	</div>
</div>